
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(162, 36, 99);
    overflow: hidden;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(225, 143, 143, 0.8);
}

h2 {
    font-size: 2rem;
    text-align: center;
    color: #af1589;
    text-shadow: 1px 1px 3px rgba(255, 248, 248, 0.6);
    margin-top: 40px;
}

p {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(232, 229, 229, 0.8);
}

.birthday-cake {
    font-size: 5rem;
    text-align: center;
    animation: shine 3s infinite alternate;
}

@keyframes shine {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0.7;
        transform: scale(1.2);
    }
}

/* Heart animations */
.heart {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: pink;
    transform: rotate(45deg);
    top: 50%;
    left: 50%;
    animation: float 5s infinite;
}

.heart:before, .heart:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: pink;
    border-radius: 50%;
}

.heart:before {
    top: -10px;
    left: 0;
}

.heart:after {
    left: 10px;
    top: 0;
}

@keyframes float {
    0% {
        transform: translate(0, 0) scale(0.8);
        opacity: 1;
    }
    100% {
        transform: translate(100px, -200px) scale(1.2);
        opacity: 0;
    }
}

/* Gallery styling */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.gallery img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 10px;
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7);
}
