body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

body {
    background: url('your-background-image.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
/* Background video styling */
#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    text-align: center;
}

h2 {
    margin-top: 30px;
    font-size: 2.5rem;
    text-align: center;
    color: #ff69b4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

p {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.gallery-item {
    text-align: center;
    margin: 10px;
}

.gallery img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 10px;
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7);
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

p {
    font-size: 1.2rem;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
.heart {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: pink;
    transform: rotate(45deg);
    top: 50%;
    left: 50%;
    animation: float 5s infinite;
}

.heart:before, .heart:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: pink;
    border-radius: 50%;
}

.heart:before {
    top: -10px;
    left: 0;
}

.heart:after {
    left: 10px;
    top: 0;
}

@keyframes float {
    0% {
        transform: translate(0, 0) scale(0.8);
        opacity: 1;
    }
    100% {
        transform: translate(100px, -200px) scale(1.2);
        opacity: 0;
    }
}